<div th:fragment="editCommentModal">
    <link rel="stylesheet" href="/css/modal-styles.css">
    <div class="modal fade" id="editCommentModal" tabindex="-1" aria-labelledby="editCommentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content"  >
                <div class="modal-header">
                    <h5 class="modal-title" id="editCommentModalLabel">Редагувати коментар</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mb-3">
                    <form id="edit-comment-form" method="post">
                        <input type="hidden" id="edit-comment-id" name="commentIdEdit" value="">
                        <textarea id="edit-comment-text" name="text" class="form-control" rows="3" placeholder="Введіть новий текст коментаря..." required></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="confirmEditCommentButton" type="button" class="btn btn-custom-confirm">Зберегти</button>
                    <button type="button" class="btn btn-close-modal" data-bs-dismiss="modal">Скасувати</button>
                </div>
            </div>
        </div>
    </div>
</div>