<div th:fragment="editReplyModal">
    <link rel="stylesheet" href="/css/modal-styles.css">
    <div class="modal fade" id="editReplyModal" tabindex="-1" aria-labelledby="edit-reply-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="edit-reply-modal-label">Редагувати відповідь</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="edit-reply-form">
                        <input type="hidden" id="edit-reply-id" name="replyIdEdit" value="">
                        <textarea id="edit-reply-text" name="text" class="form-control"></textarea>
                        <button type="submit" class="btn btn-custom-confirm mt-3" style="float: right;">Зберегти зміни</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>