<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${author.name}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="/images/icons/MangaLibraryLogo.png">
    <link rel="stylesheet" href="/css/author/author-info.css">
    <link rel="stylesheet" href="/css/pagination.css">
    <link rel="stylesheet" href="/css/loader.css">
</head>
<body class="loading">
<div th:insert="~{blocks/loader :: loader}"></div>
<header th:insert="~{blocks/header :: header}"></header>
<input type="hidden" id="backGroundImg" th:value="${backGroundImgUser}" />
<header th:insert="~{blocks/modals/deleteConfirmationModal :: deleteConfirmationModal}"></header>
<div class="content mt-5 mb-5">
    <div class="container mt-5">
            <div class="author-left-content">
                <img th:src="${author.urlPicture}" class="author-picture" alt="" onerror="this.onerror=null;this.src='https://www.riseandfall.xyz/unrevealed.png';">
                <div class="filter-manga mt-4">
                        <div class="divider">
                            <span>Фільтр</span>
                        </div>
                        <div class="sortBy">
                            <ul class="nav nav-tabs nav-tabs-lists" role="tablist">
                                <li class="nav-item nav-item-sort-by d-flex align-items-center" role="presentation">
                                    <a class="user-link nav-link active" href="#sortByDate" id="date-nav-item" data-bs-toggle="tab">
                                        Нова манга </i>
                                    </a>
                                </li>
                                <li class="nav-item nav-item-sort-by d-flex align-items-center" role="presentation" >
                                    <a class="user-link nav-link" href="#sortByRating" id="rating-nav-item" data-bs-toggle="tab">
                                        Рейтинг</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
            <div class="author-right-content">
                <div class="author-main-info">
                    <span style="color:dimgray;">Автор</span>
                    <h4 class="author-name" th:text="${author.name}">Ім'я автора</h4>
                    <div id="mangaBiographyContainer">
                        <p class="short-description" th:text="${#strings.length(author.biography) <= 128 ? author.biography : author.biography.substring(0, 128) + '...'}"></p>
                        <p class="full-description" th:text="${author.biography}"></p>
                        <button id="toggleDescriptionBtn" class="btn btn-primary" th:if="${#strings.length(author.biography) > 128}">Показати більше</button>
                    </div>
                    <span class="author-total-mangas" th:text="${authorMangasCount}"></span>
                    <span class="author-total-subscribes" style="">20 Підписників</span>
                    <div class="dropdown author-options">
                        <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton-${reply.id}" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton-${reply.id}">
                            <li>
                                <form th:action="@{/author/delete/{author.id}(author.id=${author.id})}" id="deleteAuthorForm" method="post" class="d-inline">
                                    <button class="dropdown-item delete-author" type="button">
                                        <i class="fas fa-trash-alt"></i> Видалити
                                    </button>
                                </form>
                            </li>
                            <li>
                                <a class="dropdown-item edit-author" th:href="@{/author/edit/{author.id}(author.id=${author.id})}">
                                    <i class="fas fa-pencil-alt"></i> Редагувати
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <form class="subscribe-form" th:action="@{/subscribeAuthor/{author.id}(author.id=${author.id})}" method="post">
                    <button type="submit" class="btn btn-custom-subscribe mt-2" style="padding:5px 15px; float:right;"><i class="fa-solid fa-bell"></i>Підписатись</button>
                </form>
                <div class="author-manga-content mt-4">
                    <input type="text" class="form-control mb-3 input-filter" placeholder="Пошук по назві манги" id="filterInput">
                    <div th:if="${#lists.isEmpty(page.content)}" class="no-manga-message">
                        <p>Не знайдено манг у цього автора.</p>
                    </div>
                    <div th:if="${!#lists.isEmpty(page.content)}" class="manga-grid">
                        <div th:each="el : ${page.content}" class="custom-container">
                            <div class="manga">
                                <a th:href="@{/manga/{mangaId}(mangaId=${el.id})}" class="image-link">
                                    <img class="poster-manga-link" th:src="@{${el.mangaPosterImg}}" alt="manga image" loading="lazy">
                                </a>
                                <div class="custom-info">
                                    <a class="custom-title-link" th:href="@{/manga/{mangaId}(mangaId=${el.id})}">
                                        <div class="custom-title">
                                            <span th:text="${el.mangaName}"></span>
                                        </div>
                                    </a>
                                    <div class="custom-grade-details" th:data-rating="${el.averageRating}">
                                        <span class="stars"></span>
                                        <span class="rating-number"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${page.totalPages > 1}" class="pagination">
                        <ul class="pagination">
                            <li th:if="${page.number + 1 > 1}" class="page-item">
                                <a th:href="@{/author/{id}(id=${author.id}, page=${page.number})}" class="page-link">
                                    <i class="fa-solid fa-arrow-left"></i>
                                </a>
                            </li>
                            <li th:each="i : ${#numbers.sequence(1, page.totalPages)}"
                                th:classappend="${i == page.number + 1 ? 'active' : 'page-item'}" class="page-item">
                                <a th:href="@{/author/{id}(id=${author.id}, page=${i})}" th:text="${i}" class="page-link"></a>
                            </li>
                            <li th:if="${page.number + 1 < page.totalPages}" class="page-item">
                                <a th:href="@{/author/{id}(id=${author.id}, page=${page.number + 2})}" class="page-link">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</div>

<footer th:insert="~{/blocks/footer :: footer}"></footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/burger-menu.js"></script>
<script src="/js/loader-spinner.js"></script>
<script src="/js/confirmDelete.js"></script>
<script src="/js/main/star-grade-manga.js"></script>
<script src="/js/author/author-info.js"></script>
</body>
</html>
