<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="/images/icons/MangaLibraryLogo.png">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/transparent-container.css">
</head>
<body class="loading">
<div th:insert="~{blocks/loader :: loader}"></div>
<input type="hidden" id="backGroundImg" th:value="${backGroundImgUser}" />
<input type="hidden" id="isMobile" />
<header th:insert="~{blocks/header :: header}"></header>
<div class="container mt-5 mb-5">
    <div class="newManga-section text-center">
    <h2>Нові манги на сайті</h2>
        <div id="mangaCarousel" class="carousel slide" data-bs-ride="carousel">
            <div id="carouselInner" class="carousel-inner"></div>
            <button class="carousel-control-prev" type="button" data-bs-target="#mangaCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#mangaCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<div class="containerGenre">
    <div id="genreCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item genre-slide" th:classappend="${iterStat.first ? ' active' : ''}" th:each="entry, iterStat : ${mangaByGenre}">
                <h2 class="genre-title">
                    <span class="genre-label" th:text="${entry.key}"></span>
                    <a th:href="@{'/search?q=' + ${entry.key} + '&type=genre'}" class="genre-link"> Більше -></a>
                </h2>
                <div class="manga-grid">
                    <div th:class="${mangaStat.first} ? 'manga-card featured first-manga' : 'manga-card'"
                            th:each="manga, mangaStat : ${entry.value}">
                        <a th:href="@{/manga/{id}(id=${manga.id})}">
                            <img th:src="${manga.mangaPosterImg}" alt="Manga Cover" class="manga-cover manga-cover-small">
                            <div class="manga-info">
                                <h3 class="manga-title" th:text="${manga.mangaName}"></h3>
                                <h3 class="manga-author" th:text="${manga.author.name}"></h3>
                                <p class="manga-status" th:text="${manga.mangaStatus}"></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev genre-control-prev" type="button" data-bs-target="#genreCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next genre-control-next" type="button" data-bs-target="#genreCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<footer th:insert="~{/blocks/footer :: footer}"></footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/burger-menu.js"></script>
<script src="/js/loader-spinner.js"></script>
<script src="/js/carousel.js"></script>
<script th:inline="javascript">
    var mangaList = /*[[${NewMangaListMap}]]*/ [];
</script>
</body>
</html>
