<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="/images/icons/MangaLibraryLogo.png">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body class="loading">
<div th:insert="~{blocks/loader :: loader}"></div>
<input type="hidden" id="backGroundImg" th:value="${backGroundImgUser}" />
<header th:insert="~{blocks/header :: header}"></header>
<div class="container mt-5 mb-5">
    <div class="newManga-section text-center">
        <h2>Нові манги на сайті</h2>
        <div class="manga-grid">
            <div class="manga-card new-manga-card" th:each="manga : ${NewMangaList}">
                <a th:href="@{/manga/{id}(id=${manga.id})}" class="manga-link">
                    <div class="manga-image" style="position: relative;">
                        <img th:src="${manga.mangaPosterImg}" alt="Manga Cover" class="manga-cover">
                        <div class="manga-info" style="background-color: rgba(37, 37, 37, 0.7);  position: absolute; border-radius:10px; bottom: 5px; left: 10px; right: 10px; color: #ffffff;">
                            <h3 class="manga-title" th:text="${manga.mangaName}" style="font-size: 18px; margin: 0;"></h3>
                            <h3 class="manga-author" th:text="${manga.author.name}" style="font-size: 14px; margin: 0;"></h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="containerGenre">
        <div class="genre-section" th:each="entry : ${mangaByGenre}">
            <h2 class="genre-title">
                <span class="genre-label" th:text="${entry.key}"></span>
                <a th:href="@{'/search?q=' + ${entry.key} + '&type=genre'}" class="genre-link"> Більше -></a>
            </h2>
            <div class="manga-grid">
                <div class="manga-card" th:each="manga : ${entry.value}">
                    <a th:href="@{/manga/{id}(id=${manga.id})}">
                        <img th:src="${manga.mangaPosterImg}" alt="Manga Cover" class="manga-cover">
                        <div class="manga-info">
                            <h3 class="manga-title" th:text="${manga.mangaName}"></h3>
                            <h3 class="manga-author" th:text="${manga.author.name}"></h3>
                            <p class="manga-status" th:text="${manga.mangaStatus}"></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{/blocks/footer :: footer}"></footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/burger-menu.js"></script>
<script src="/js/loader-spinner.js"></script>
</body>
</html>
