.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width:100%;
    max-width: 1000px;
    padding: 40px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #212121;
}

.form-group.text-end {
    display: flex;
    justify-content: flex-end;
}

.btn-custom-confirm {
    background-color: #282828 !important;
    border-color: #ff0080;
    color: white;
    margin-right:10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.6s ease;
}

.btn-custom-confirm:hover {
    background-color: #ea0078 !important;
}

.btn-custom-confirm:focus {
    background-color: #c20065 !important;
}

.btn-custom-back {
    background-color: #343434 !important;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.btn-custom-back:hover {
    background-color: #2f2f2f !important;
}
.btn-custom-back:focus, .btn-primary:active {
    background-color: #282828 !important;
    color: #ffffff !important;
    box-shadow: none !important;
}