<div th:fragment="filter-template-mobile">
    <template id="filter-template-mobile">
        <h3 class="text-center mb-4">Фільтр <i class="fas fa-bars ml-3 fs-5" aria-hidden="true"></i></h3>
        <form id="filter-form-mobile">
            <div class="filter-container">
                <fieldset class="filter-group">
                    <label class="filter-label">Жанри & Категорії</label>
                    <select id="genre-select-mobile" class="filter-select" aria-label="Жанри і Категорії" multiple="multiple"></select>
                </fieldset>

                <fieldset class="filter-group">
                    <label class="filter-label">За автором</label>
                    <select id="author-select-mobile" class="filter-select" aria-label="Автори" multiple="multiple"></select>
                </fieldset>

                <fieldset class="filter-group">
                    <label class="filter-label">Роки виходу</label>
                    <div class="range-input-group">
                        <input type="number" id="releaseYearFrom-mobile" class="filter-input" placeholder="Від" aria-label="Рік випуску від">
                        <span class="dash mb-3" aria-hidden="true">—</span>
                        <input type="number" id="releaseYearTo-mobile" class="filter-input" placeholder="До" aria-label="Рік випуску до">
                    </div>
                </fieldset>

                <fieldset class="filter-group">
                    <label class="filter-label">Статус манги</label>
                    <select id="mangaStatus-mobile" class="filter-select" aria-label="Статус манги">
                        <option value="all">Всі</option>
                        <option value="release">Реліз</option>
                        <option value="ongoing">Онгоїнг</option>
                        <option value="completed">Завершено</option>
                    </select>
                </fieldset>

                <fieldset class="filter-group">
                    <label class="filter-label">Віковий рейтинг</label>
                    <select id="ageRating-mobile" class="filter-select" aria-label="Віковий рейтинг">
                        <option value="all">Всі</option>
                        <option value="0">Ні</option>
                        <option value="1">18+</option>
                    </select>
                </fieldset>
                <br>
                <button type="submit" class="filter-button mt-2 mb-3">Застосувати</button>
                <br>
            </div>
        </form>
    </template>

</div>
