<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Налаштування</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/images/icons/MangaLibraryLogo.png">
    <link rel="stylesheet" href="/css/token-alerts.css">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/user/user-settings.css">
</head>
<body class="loading">
<div th:insert="~{blocks/loader :: loader}"></div>
<header th:insert="~{blocks/header :: header}"></header>
<input type="hidden" id="backGroundImg" th:value="${backGroundImgUser}" />
<div class="content mb-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav flex-column nav-tabs" id="settingsTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link nav-link-settings active" id="info-tab" data-toggle="tab" href="#info" role="tab">Інформація</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-settings" id="security-tab" data-toggle="tab" href="#security" role="tab">Безпека та вхід</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-settings" id="background-tab" data-toggle="tab" href="#background" role="tab">Фон</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-9 mb-5">
                <div class="tab-content settings-block mb-5" id="settingsContent">
                        <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                            <form th:action="@{/profile/settings/info/{id}(id=${user.id})}" style="height:100%;" method="post" th:object="${userForm}" enctype="multipart/form-data">
                                <div class="settings-info">
                                    <div class="d-flex align-items-start">
                                        <div class="custom-file-upload-wrapper me-4">
                                            <div class="custom-file-upload-container" onclick="document.getElementById('posterImage').click();">
                                                <input type="hidden" th:field="*{user}" />
                                                <input type="file" name="ProfilePicture.profileImage" id="posterImage" accept="image/jpeg, image/png" style="display: none;" onchange="previewImage(event, 'posterImagePreview', 'posterUploadIcon');">
                                                <img id="posterImagePreview" th:src="${user.profilePicture}" class="preview-image" alt="Avatar Preview">
                                                <i id="posterUploadIcon" class="fas fa-upload" style="display:none;"></i>
                                            </div>
                                            <p class="text-center mt-2">Аватарка</p>
                                            <div style="color:red" th:if="${#fields.hasErrors('user.profilePicture')}" th:errors="*{user.profilePicture}">profilePicture error</div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <label class="form-label" title="Змініть свій нікнейм"> <i class="fas fa-circle pink-dot"></i> Нік:</label>
                                            <input type="text" name="user.userName" th:value="*{user.userName}" class="form-control" autocomplete="off">
                                            <div style="color:red" th:if="${#fields.hasErrors('user.userName')}" th:errors="*{user.userName}">userName error</div>

                                            <label class="form-label mt-3" for="privacySelect"> <i class="fas fa-circle pink-dot"></i>Приватність</label>
                                            <select class="custom-select" id="privacySelect" name="userSettings.profilePrivacy">
                                                <option value="public" th:text="'Публічний'" th:value="'public'" th:selected="${userSettings.profilePrivacy == 'public'}">Публічний</option>
                                                <option value="friendly" th:text="'Дружній'" th:value="'friendly'" th:selected="${userSettings.profilePrivacy == 'friendly'}">Дружній</option>
                                                <option value="private" th:text="'Приватний'" th:value="'private'" th:selected="${userSettings.profilePrivacy == 'private'}">Приватний</option>
                                            </select>
                                            <div style="color:red" th:if="${#fields.hasErrors('userSettings.profilePrivacy')}" th:errors="*{userSettings.profilePrivacy}">Ошибка приватности профиля</div>

                                            <label class="form-label mt-3" for="readStyle"> <i class="fas fa-circle pink-dot"></i>Стиль читання</label>
                                            <select class="custom-select" id="readStyle" name="userSettings.readStyle">
                                                <option value="scroll-down" th:selected="${userSettings.readStyle == 'scroll-down'}">Вниз</option>
                                                <option value="left-to-right" th:selected="${userSettings.readStyle == 'left-to-right'}">Свайп</option>
                                            </select>
                                            <div style="color:red" th:if="${#fields.hasErrors('userSettings.readStyle')}" th:errors="*{userSettings.readStyle}">Ошибка стиля чтения</div>
                                        </div>
                                    </div>
                                    <div class="user-about mt-3 d-flex-none" style="padding-left:15px;padding-right: 15px;">
                                        <label class="form-label" title="Розкажіть щось про себе!"> <i class="fas fa-circle pink-dot"></i>Про себе: </label>
                                        <textarea name="user.about" placeholder="Введіть щось про себе" class="form-control" th:text="*{user.about}" autocomplete="off"></textarea>
                                        <div style="color:red" th:if="${#fields.hasErrors('user.about')}" th:errors="*{user.about}">user about error</div>
                                    </div>
                                    <div class="form-check mt-3" style="padding-left: 40px;">
                                        <input class="form-check-input" type="checkbox" id="ageConsent" name="userSettings.adultContentAgreement" th:checked="${userSettings.adultContentAgreement}" />
                                        <label class="form-check-label" for="ageConsent">
                                            Я погоджуюсь із контентом 18+
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-custom-subscribe mt-2 mb-4" style="padding:5px 15px; float:right;">Зберегти</button>
                                </div>
                            </form>
                        </div>

                    <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
                        <div class="new-password mt-2">
                            <h4>Зміна паролю</h4>
                            <form th:action="@{'/profile/settings/securityPassword/' + ${user.id}}" method="post">
                                <div th:if="${successMessagePassword}">
                                    <span style="color: green;" th:text="${successMessagePassword}"></span>
                                </div>
                                <div th:if="${errorMessagePassword}">
                                    <span style="color: red;" th:text="${errorMessagePassword}"></span>
                                </div>
                                <div id="newPasswordField">
                                    <label class="form-label mt-1" title="Введіть ваш новий пароль!"> <i class="fas fa-circle pink-dot"></i>Новий пароль:</label>
                                    <input type="password" name="userPasswordNew" placeholder="Введіть ваш новий пароль" class="form-control" autocomplete="off">
                                    <p style="color:red" th:if="${errorPassword}" th:text="${errorPassword}"></p>
                                </div>
                                <label class="form-label mt-3" title="Введіть ваш пароль щоб зберегти всі зміненні дані!"> <i class="fas fa-circle pink-dot"></i>Пароль: </label>
                                <input type="password" name="currentPassword"  placeholder="Введіть ваш пароль" class="form-control" autocomplete="off">
                                <p style="color:red" th:if="${errorMessage}" th:text="${errorMessage}"></p>
                                <p class="mt-3">Якщо ви не пам'ятаєте поточний пароль, скористайтеся скиданням пароля <a class="reset-link" href="/reset-password">скиданням пароля</a></p>
                                <button type="submit" class="btn btn-custom-subscribe mt-1" style="padding:5px 15px; float:left;">Зберегти</button>
                            </form>
                        </div>
                        <div class="new-email mt-3">
                            <h4>Зміна пошти</h4>
                            <form id="mainForm" th:action="@{'/profile/settings/securityMail/' + ${user.id}}" method="post" onsubmit="return false;">
                                <div id="messageArea"></div>
                                <div id="newEmailField">
                                    <label class="form-label" title="Введіть вашу нову пошту!"> <i class="fas fa-circle pink-dot"></i>Нова пошта:</label>
                                    <input type="email" name="newEmail" placeholder="Введіть вашу нову пошту" class="form-control" autocomplete="off">
                                    <p style="color:red" th:if="${errorEmail}" th:text="${errorEmail}"></p>
                                </div>
                                <div id="confirmationCodeField" class="mt-3">
                                    <label for="confirmationCode" class="form-label"> <i class="fas fa-circle pink-dot"></i>Код підтвердження:</label>
                                    <div class="input-group">
                                        <input type="text" name="confirmationCode" id="confirmationCode" class="form-control" placeholder="Введіть код підтвердження" autocomplete="off">
                                        <button type="button" onclick="submitForm('getConfirmationCode')" class="btn btn-outline-info">Отримати код</button>
                                    </div>
                                </div>
                                <label class="form-label mt-3" title="Введіть ваш пароль щоб зберегти всі зміненні дані!"> <i class="fas fa-circle pink-dot"></i>Пароль: </label>
                                <input type="password" name="currentPassword" placeholder="Введіть ваш пароль" class="form-control" autocomplete="off">
                                <p style="color:red" th:if="${errorMessage}" th:text="${errorMessage}"></p>
                                <button type="button" onclick="submitForm('updateEmail')" class="btn btn-custom-subscribe mt-3" style="padding:5px 15px; float:left;">Зберегти</button>
                            </form>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="background" role="tabpanel" aria-labelledby="background-tab">
                        <form method="POST" style="height:100%;" th:action="@{/profile/settings/background/{id}(id=${user.id})}" th:object="${userSettings}">
                            <div class="settings-bg">
                                <input type="hidden" id="GetBackGroundImgUser" th:value="${GetBackGroundImgUser}">
                                <input type="hidden" id="selectedImageInput" name="backgroundImage" th:value="${selectedImage}">
                                <div class="backgroundImg" id="backgroundImagesContainer">
                                    <h3>Зміна фону</h3>
                                    <div class="row mt-3">
                                        <div class="col-md-4 mb-3">
                                            <img src="/images/settingsPicture/backGroundSettings1.jpg" alt="Image 1" class="img-fluid" onclick="selectImage(this)">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <img src="/images/settingsPicture/backGroundSettings2.jpg" alt="Image 2" class="img-fluid" onclick="selectImage(this)">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <img src="/images/settingsPicture/backGroundSettings3.jpg" alt="Image 3" class="img-fluid" onclick="selectImage(this)">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <img src="/images/settingsPicture/backGroundSettings4.jpg" alt="Image 4" class="img-fluid" onclick="selectImage(this)">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <img src="/images/settingsPicture/backGroundSettings5.jpg" alt="Image 5" class="img-fluid" onclick="selectImage(this)">
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <img src="/images/settingsPicture/backGroundSettings6.jpg" alt="Image 6" class="img-fluid" onclick="selectImage(this)">
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-custom-subscribe mb-3" style="padding:5px 15px; float:left;">Зберегти</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{/blocks/footer :: footer}"></footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="/js/burger-menu.js"></script>
<script src="/js/loader-spinner.js"></script>
<script src="/js/user/user-settings.js"></script>
</body>
</html>
