.about-title {
    color: #868686;
    font-family: Raleway, sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.about-text {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: #868686;
}

.manga {
    color: #FF0080;
}

.library {
    color: #FFFFFF99;
}

.team-title {
    color: #FFFFFF99;
    font-family: Raleway, sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
}

.role-title {
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.18px;
    color: #FF0080;
}

.text-center p {
    text-align: center;
    color: #FFFFFF99;
}

.role-names {
    margin-top: 30px;
}