footer {
    font-family: 'Raleway', sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px;
    border-top: 2px dotted #333;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left:165px;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.logo span{
    font-size:19px;
}
.logo img {
    height: 65px;
}

.social-icons {
    margin-left: 19px;
}
.social-icons a {
    margin-right: 10px;
    color: #ffffff;
    text-decoration: none;
}
.social-icons img {
    height: 20px;
}
.copyright {
    margin-top: 10px;
    font-size: 0.8em;
    color: #888;
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}

.nav-column {
    margin-right: 40px;
}

.nav-column h4 {
    color: #E49805;
    margin-bottom: 10px;
}
.nav-column ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.nav-column ul li {
    margin-bottom: 5px;
}

.nav-column ul li a {
    color: #8F8F8F;
    text-decoration: none;
}
.nav-column ul li a:hover {
    color: white;
}
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .navigation {
        flex-direction: column;
    }

    .nav-column {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .social-icons {
        margin-left: 0;
    }
    .logo-section {
        margin-left:0px;
        margin-right:35px;
    }
    .copyright {
        margin-bottom: 10px;
    }
}
