.form-control {
    border: 1px solid #625E5E;
    color: white;
    background-color: #2f2f2f;
}
.form-control:hover {
    border-color: #d9006a;
}
.form-control:focus{
    color:white;
    background-color: #2f2f2f;
    border-color: #ff0080;
    box-shadow: 0 0 0 2px #ff0080;
}
        .form-control::placeholder {
    color: #999;
}

.btn-outline-info {
    border-color: #ff4fa7 !important;
    color: #ff4fa7 !important;
    background-color: transparent !important;
}

.btn-outline-info:hover {
    background-color: #ff4fa7 !important;
    color: #ffffff !important;
    border-color: #de006f !important;
}

.btn-outline-info:focus, .btn-outline-info:active {
    background-color: #ff4fa7 !important;
    color: #ffffff !important;
    border-color: #de006f !important;
    box-shadow: none !important;
}