.form-control {
    border: 1px solid #625E5E;
    color: white;
    background-color: #2f2f2f;
}
.form-control:hover {
    border-color: #d9006a;
}
.form-control:focus{
    color:white;
    background-color: #2f2f2f;
    border-color: #ff0080;
    box-shadow: 0 0 0 2px #ff0080;
}
        .form-control::placeholder {
    color: #999;
}

.custom-select-settings {
    background-color: #f3e5f5;
    border: 2px solid #9c27b0;
    color: #4a148c;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.custom-select-settings:focus {
    outline: none;
    border-color: #7b1fa2;
}

.custom-select-settings option {
    background-color: #f3e5f5;
    color: #4a148c;
}