html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

body {
  font-family: "Gill Sans", sans-serif;
  background-color: #1C1C1E;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  padding-top: 36px;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background-color: #343a40;
}

::-webkit-scrollbar-thumb {
  background-color: #6f42c1;
  border-radius: 6px;
  border: 3px solid #343a40;
}

.navbar-brand {
  margin-bottom:5px;
  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: 40px;
  margin-right: 10px;
}

.brand-subtext {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 12px;
  display: block;
  margin-top: 2px;
}
.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #202020;
  border-bottom: 2px dotted #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-brand {
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 991.98px) {
  .container-fluid {
    margin-left: 0;
    margin-right: 0;
    padding: 0 15px;
  }

  .navbar {
    height: auto;
    justify-content: flex-start;
  }

  .navbar-brand {
    margin-left: 0;
    margin-right: 20px;
  }

  .navbar-nav .form-control-search {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .navbar-nav .custom-btn {
    width: 100%;
  }
}
.burger-menu .dropdown-toggle::after {
  display: none;
}

.burger-menu .dropdown-menu {
  background-color: #202020;
  border: none;
}

.burger-menu .dropdown-item {
  color: #fff;
}

.burger-menu .dropdown-item:hover {
  background-color: #Е49805;
}

.burger-menu .dropdown-menu-start {
  left: auto;
  right: 0;
}

.dropdown-menu {
  display: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
  padding: 3px;
  color: #ffffff;
  max-width: 100vw;
}

.dropdown-menu.show {
  display: flex;
  opacity: 1;
  transform: translateY(0);
  animation: slide-down 0.3s forwards;
}
.dropdown-menu {
  padding: 0;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-link:hover {
  color: white !important;
  border-radius: 8px;
  background-color: #522878;
}

.navbar-toggler {
  color: white;
  border-color: white;
}

.navbar-toggler:hover {
  color: #a149ff;
  border-color: #360096b6;
}

.navbar-nav {
  text-align: center;
  padding: 5px;
}

.navbar-nav .form-control-search {
  width: 40px;
  margin-right: 10px;
}

.dropdown-menu-admin {
  padding: 0;
  min-width: 160px;
  width: 100%;
}
.dropdown-menu-site {
  padding: 0;
  min-width: 120px;
  width: 100%;
}

.dropdown-menu .nav-item {
  width: 100%;
  padding: 0;
  margin: 0;
}

.dropdown-item {
  display: block;
  text-align:left;
  width: 100%;
  padding: 8px;
  white-space: nowrap;
  box-sizing: border-box;
  cursor: pointer;
}
.navbar-nav .dropdown-menu-site,
.dropdown-menu-admin,
.dropdown-menu-start,
.btn-exit{
  text-indent: 10px;
}
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #522878;
  color: #ffffff;
  outline: none;
}

.dropdown-item * {
  pointer-events: none;
}

.dropdown-menu .nav-item {
  list-style-type: none;
}
.dropdown-arrow {
  font-size:12px;
  transition: transform 0.3s ease;
  margin-left: 5px;
}

.dropdown.show .dropdown-arrow {
  transform: rotate(90deg);
}

.search-form-container {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 450px;
  height: 130px;
  padding: 20px;
  border-radius: 10px;
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  box-sizing: border-box;
}

.search-form-container.active {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.search-form-container .close-btn:hover {
  border-radius: 5px;
  background-color: #494949;
}

.search-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.search-header h2 {
  color: white;
  margin: 0;
  font-size: 18px;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.search-overlay.active {
  opacity: 1;
  visibility: visible;
}

.search-form-container {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 450px;
  height: 130px;
  padding: 20px;
  border-radius: 10px;
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  box-sizing: border-box;
  background-color: #212121e8;
}

.search-form-container.active {
  opacity: 1;

  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.search-form-container .close-btn:hover {
  border-radius: 5px;
  background-color: #494949;
}

.search-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.search-header h2 {
  color: white;
  margin: 0;
  font-size: 18px;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.search-results {
  list-style-type: none;
  padding: 0;
  max-height: 400px;
  overflow-y: auto;
}

.search-result-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  color: inherit;
  text-decoration: none;
  border: 1px solid #2f0296;
  border-radius: 5px;
}
.search-result-item:hover {
  background-color: rgba(31, 31, 31, 0.6);
}
.rating {
  position: absolute;
  top: 25px;
  right: 10px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.rating .fa-star {
  margin-right: 5px;
  font-size: 15px;
}
.search-result-image {
  width: 50px;
  height: 70px;
  object-fit: cover;
  margin-right: 10px;
}
.search-result-title {
  font-size: 16px;
}

.nothing-found {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  border: 1px solid #2f0296;
  border-radius: 5px;
}
