    body {
    background-color: #2b2a2a !important;
    overflow-x: hidden;
}
.mangaPoster img{
    border-radius: 8px;
    border: 2px solid #8e5eff;
}
    .genre-container {
        margin-bottom: 15px;
    }

    .genre-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .genre-item {
        margin-right: 5px;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .link {
        margin-top:15px;
        color: white;
        text-decoration: none;
        background-color: #522878;
        padding: 0.2em 0.4em;
        border-radius: 0.25rem;
        transition: background-color 0.3s ease;
        display: inline-block;
    }

    .link:hover {
        background-color: #8636cf;
    }

    hr{
    color:#8957ff;
    }
    .custom-select {
        text-align:center;
        background-color: #343a40;
        color: white;
    }
    .custom-select option {
        text-align:start;
        background-color: #393040;
    }
    .custom-select option:checked {
        text-align: center;
    }
