.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .page-link {
    margin: 0 10px;
    background-color: #1B1B1B;
    color:white;
    border: 1px solid #767676;
    border-radius:5px;
    text-decoration: none;
}
.pagination .page-link:focus {
    outline: none;
    box-shadow: none;
}
.pagination .page-link:hover {
    background-color: #282828;
}
.pagination .page-item.active .page-link {
    border: 1px solid #ff0080;
}