.form-control {
            color: white;
        }
        .form-control{
            background-color: #302b3b;
        }
        .form-control:focus{
            color:white;
            background-color: #302b3b;
            border-color: #5000ff;
            box-shadow: 0 0 0 2px #5000ff;
        }
        .form-control::placeholder {
            color: #999;
        }
.reset-btn{
    text-decoration: none;
    color:#B960FF;
}
.reset-btn:hover{
    text-decoration: underline;
    color:#A93CFF;
}