.transparent-container {
    background: rgba(101, 101, 101, 0.2);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.content p {
    margin-bottom: 16px;
    line-height: 1.6;
}

.first-paragraph {
    color: #625E5E; /* Цвет текста для всех абзацев */
}

.highlight-white {
    color: #FFFFFF99; /* Полупрозрачный белый для слов Telegram, Instagram, Google Mail, Library */
}

.highlight-pink {
    color: #FF0080; /* Ярко-розовый для слов mangalibrary2024, mangalibrary2024@gmail.com, Manga */
}