a {
    text-decoration: none;
}
.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #7e55a4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}
.profile-picture:hover {
    transform: scale(1.05);
}
.user-card-text{
    margin-left: 17px;
}

.nav-tabs .nav-link {
    border: none;
    color: #fff;
    background-color: transparent;
}
.nav-tabs .nav-link.active {
    border: none;
    border-bottom: 3px solid #e91e63;
    color: #e91e63;
    background-color: transparent;
    font-weight: bold;
}
.nav-pills .nav-link {
    border: none;
    color: #fff;
    background-color: transparent;
}
.nav-pills .nav-link.active {
    border: none;
    border-bottom: 3px solid #7534FF;
    color: #e91e63;
    background-color: transparent;
    font-weight: bold;
}
.tab-content {
    background-color: #212529;
    padding: 20px;
    border-radius: 8px;
    }
.card{
    background-color: #212529;
}
.card_manga {
    position: relative;
    width:100%;
    border-radius: 8px;
    background-color: #444;
    color: #fff;
    overflow: hidden;
}
.card-img
{
    width:100%;
    height:100%;
}
.card_manga:hover {
    transform: scale(1.02);
    border: 2px solid #8e5eff;
}

.isEmptyMessage{
    font-family: sans-serif;
    font-size:24px;
    text-align:center;
    color:white;
}
.evoStar{
    width: 20px;
}
.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}
.tab-lists p{
    color:white;
}
.tab-friends p{
    color:white;
}
.tab-messages p{
    color:white;
}
.tab-notifications p{
    color:white;
}