<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${manga.mangaName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="/images/icons/MangaLibraryLogo.png">
    <link rel="stylesheet" href="/css/manga-details.css">
    <link rel="stylesheet" href="/css/manga-details-animation.css">
    <link rel="stylesheet" href="/css/loader.css">
    <meta name="_csrf" th:content="${_csrf.token}" />
</head>
<body class="loading">
<div th:insert="~{blocks/loader :: loader}"></div>
<header th:insert="~{blocks/header :: header}"></header>
<div th:if="${manga.adultContent}" class="modal fade" id="adultContentModal" tabindex="-1" aria-labelledby="adultContentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: #4b0082; color: #ffffff;">
            <div class="modal-header">
                <h5 class="modal-title" id="adultContentModalLabel">Попередження про контент 18+</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Ця манга містить контент, призначений для дорослої аудиторії <br>Продовжуючи, ви підтверджуєте, що вам виповнилося 18 років.</p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="rememberChoice">
                    <label class="form-check-label" for="rememberChoice">
                        Запам'ятати мій вибір
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="agreeButton" type="button" class="btn btn-secondary">Продовжити</button>
                <a href="/manga" class="btn btn-primary">Повернутись</a>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="backGroundImg" name="manga.mangaBackGround" th:value="${manga.mangaBackGround}" />
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="manga-details-container p-4 rounded shadow-lg">
                <ul class="nav nav-tabs justify-content-center" id="mangaTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="info-tab" data-bs-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Інфо</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="chapters-tab" data-bs-toggle="tab" href="#chapters" role="tab" aria-controls="chapters" aria-selected="false">Глави</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="similar-tab" data-bs-toggle="tab" href="#similar" role="tab" aria-controls="similar" aria-selected="false">Схожі</a>
                    </li>
                </ul>
                <div class="tab-content" id="mangaTabsContent">
                    <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="manga-poster mb-3">
                                    <img th:src="${manga.mangaPosterImg}" class="img-fluid rounded" alt="Manga Poster">
                                </div>
                                <div class="manga-actions">
                                    <form id="addMangaForm" action="#" th:action="@{/manga/add-to-list}" th:object="${manga}" method="post" onsubmit="return false;">
                                        <select name="listType" id="listTypeSelect" class="form-select mb-3 custom-select">
                                            <option value="" disabled th:selected="${!isInReadingList && !isInWantToReadList && !isInRecitedList && !isInReadStoppedList}">Виберіть список</option>
                                            <option value="reading" th:selected="${isInReadingList}">Читаю</option>
                                            <option value="want-read" th:selected="${isInWantToReadList}">Буду читати</option>
                                            <option value="recited" th:selected="${isInRecitedList}">Прочитано</option>
                                            <option value="read-stopped" th:selected="${isInReadStoppedList}">Привинив</option>
                                        </select>
                                        <input type="hidden" name="mangaId" th:value="${manga.id}" />
                                    </form>
                                    <div th:if="${!#lists.isEmpty(chapters)}">
                                        <a th:href="@{/manga/{mangaId}/chapter/{chapterId}(mangaId=${manga.id}, chapterId=${chapters[0].id})}" class="btn btn-primary w-100">Почати читати</a>
                                    </div>
                                    <div th:unless="${!#lists.isEmpty(chapters)}">
                                        <a class="btn btn-primary w-100 disabled" title="Поки що немає глав">Почати читати</a>
                                    </div>
                                    <div class="admin-actions mt-4" th:if="(${#authentication.authorities[0].authority == 'ADMIN'}) or (${#authentication.authorities[0].authority == 'MangaModerator'})">
                                        <hr>
                                        <a th:href="@{/manga/edit/{id}(id=${id})}" class="btn w-100 mt-1 mb-3 btn-warning me-2">Редагувати</a>
                                        <form th:action="@{/manga/delete/{id}(id=${id})}" method="post" class="d-inline" onsubmit="return confirmDelete()">
                                            <button class="btn btn-danger w-100" type="submit">Видалити</button>
                                        </form>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h2 class="manga-title mb-3" th:text="${manga.mangaName}"></h2>
                                <div class="manga-info">
                                    <p class="manga-description" th:text="${manga.mangaDescription}"></p>
                                    <hr>
                                    <div class="manga-genres mb-3">
                                        <h5>Жанри:</h5>
                                        <div class="genre-list">
                                    <span th:each="genre : ${manga.genres}" class="genre-item">
                                        <a th:href="@{'/search?q=' + ${genre.genreName} + '&type=genre'}" class="link">
                                            <span th:text="${genre.genreName}"></span>
                                        </a>
                                    </span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="manga-author mb-3">
                                        <h5>Автор манги:</h5>
                                        <span th:if="${manga.author != null}">
                                    <a th:href="@{'/author/' + ${manga.author.id}}" class="link" th:text="${manga.author.name}"></a>
                                </span>
                                        <span th:unless="${manga.author != null}">undefined</span>
                                    </div>
                                    <hr>
                                    <div class="manga-year mb-3">
                                        <h5>Рік виходу:</h5>
                                        <a th:href="@{'/search?q=' + ${manga.releaseYear} + '&type=releaseYear'}" class="link" th:text="${manga.releaseYear}"></a>
                                    </div>
                                    <hr>
                                    <div class="manga-status mb-3">
                                        <h5>Статус манги:</h5>
                                        <a th:href="@{'/search?q=' + ${manga.mangaStatus} + '&type=mangaStatus'}" class="link" th:text="${translatedMangaStatus}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="chapters" role="tabpanel" aria-labelledby="chapters-tab">
                        <div class="admin-actions mt-4" th:if="(${#authentication.authorities[0].authority == 'ADMIN'}) or (${#authentication.authorities[0].authority == 'MangaModerator'})">
                            <hr>
                            <a th:href="@{/manga/{mangaId}/chapter/add(mangaId=${manga.id})}" class="btn w-100 mt-1 mb-3 btn-success me-2">Додати главу</a>
                        </div>
                        <div class="chapter-list">
                            <h5 class="text-center">Список глав</h5>
                            <ul class="list-group">
                                <li th:each="chapter : ${chapters}" class="list-group-item mb-1" style="background-color:#2a2a2a; border: none;">
                                    <a th:href="@{/manga/{mangaId}/chapter/{chapterId}(mangaId=${manga.id}, chapterId=${chapter.id})}" class="d-flex justify-content-between align-items-center text-decoration-none">
                                        <span th:text="${chapter.title}" style="color:#ce86ff;"></span>
                                        <span class="fw-bold" style="color:#ce86ff;">Додано на сайт: <span th:text="${#temporals.format(chapter.creationTime, 'dd-MM-yyyy HH:mm')}" style="color:white;"></span></span>
                                    <div th:if="(${#authentication.authorities[0].authority == 'ADMIN'}) or (${#authentication.authorities[0].authority == 'MangaModerator'})"
                                            class="d-flex justify-content-end mt-2">
                                        <a th:href="@{/manga/{mangaId}/chapter/edit/{chapterId}(mangaId=${manga.id}, chapterId=${chapter.id})}" class="btn btn-warning btn-sm me-2">Редагувати</a>
                                        <form th:action="@{/manga/{mangaId}/chapter/delete/{chapterId}(mangaId=${manga.id}, chapterId=${chapter.id})}" method="post" class="d-inline">
                                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Ви впевнені, що хочете видалити цю главу?')">Видалити</button>
                                        </form>
                                    </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="similar" role="tabpanel" aria-labelledby="similar-tab"><div class="container">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h2 class="m-0">Схожі</h2>
                            <div class="carousel-controls">
                                <button class="btn btn-link carousel-control-prev" type="button" data-bs-target="#bookCarousel" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Попередній</span>
                                </button>
                                <button class="btn btn-link carousel-control-next" type="button" data-bs-target="#bookCarousel" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Наступний</span>
                                </button>
                            </div>
                        </div>

                        <div id="bookCarousel" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="row justify-content-center">
                                            <div class="col-md-4">
                                                <div class="card h-100">
                                                    <img src="book1-cover.jpg" class="card-img-top" alt="IMG" style="max-width: 100px; max-height:30px; object-fit: cover;">
                                                    <div class="card-body">
                                                        <p class="card-text text-muted">Схож по жанрам</p>
                                                        <h5 class="card-title">Дети руны: Винтерер</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="card h-100">
                                                    <img src="book2-cover.jpg" class="card-img-top" alt="IMG" style="max-width: 100px; max-height:30px; object-fit: cover;">
                                                    <div class="card-body">
                                                        <p class="card-text text-muted">Схож по жанрам</p>
                                                        <h5 class="card-title">Император Меча Лунной</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="card h-100">
                                                    <img src="book3-cover.jpg" class="card-img-top" alt="IMG" style="max-width: 100px; max-height:30px; object-fit: cover;">
                                                    <div class="card-body">
                                                        <p class="card-text text-muted">Схож по жанрам</p>
                                                        <h5 class="card-title">Чародей</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row justify-content-center">
                                            <div class="col-md-4">
                                                <div class="card h-100">
                                                    <img src="book4-cover.jpg" class="card-img-top" alt="IMG" style="max-width: 100px; max-height:30px; object-fit: cover;">
                                                    <div class="card-body">
                                                        <p class="card-text text-muted">Схож по жанрам</p>
                                                        <h5 class="card-title">йцу</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>
<div th:if="${notificationMessage}" class="alert alert-success alert-dismissible fade show hide-delay fixed-right" role="alert">
    <span th:text="${notificationMessage}"></span>
</div>

<footer th:insert="~{/blocks/footer :: footer}"></footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/loader-spinner.js"></script>
<script src="/js/listTypeSelect.js"></script>
<script src="/js/burger-menu.js"></script>
<script src="/js/confirmDelete.js"></script>
<script src="/js/manga-details.js"></script>
<script th:if="${manga.adultContent and not userSettings.adultContentAgreement}" src="/js/adultContentAlert.js"></script>
</body>
</html>
