<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manga Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="/images/icons/MangaLibraryLogo.png">
    <link rel="stylesheet" href="/css/manga-details.css">
    <link rel="stylesheet" href="/css/manga-details-animation.css">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/transparent-container.css">
    <meta name="_csrf" th:content="${_csrf.token}" />
</head>
<body class="loading">
<div th:insert="~{blocks/loader :: loader}"></div>
<header th:insert="~{blocks/header :: header}"></header>
<div th:if="${manga.adultContent}" class="modal fade" id="adultContentModal" tabindex="-1" aria-labelledby="adultContentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: #4b0082; color: #ffffff;">
            <div class="modal-header">
                <h5 class="modal-title" id="adultContentModalLabel">Попередження про контент 18+</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Ця манга містить контент, призначений для дорослої аудиторії <br>Продовжуючи, ви підтверджуєте, що вам виповнилося 18 років.</p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="rememberChoice">
                    <label class="form-check-label" for="rememberChoice">
                        Запам'ятати мій вибір
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button id="agreeButton" type="button" class="btn btn-secondary">Продовжити</button>
                <a href="/manga" class="btn btn-primary">Повернутись</a>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="backGroundImg" name="manga.mangaBackGround" th:value="${manga.mangaBackGround}" />
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="manga-details-container p-4 rounded shadow-lg">
                <ul class="nav nav-tabs justify-content-center" id="mangaTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="info-tab" data-bs-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Інфо</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="chapters-tab" data-bs-toggle="tab" href="#chapters" role="tab" aria-controls="chapters" aria-selected="false">Глави</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="similar-tab" data-bs-toggle="tab" href="#similar" role="tab" aria-controls="similar" aria-selected="false">Схожі</a>
                    </li>
                </ul>
                <div class="tab-content" id="mangaTabsContent">
                    <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="manga-poster mb-3">
                                    <img th:src="${manga.mangaPosterImg}" class="img-fluid rounded" alt="Manga Poster">
                                </div>
                                <div class="manga-actions">
                                    <form id="addMangaForm" action="#" th:action="@{/manga/add-to-list}" th:object="${manga}" method="post" onsubmit="return false;">
                                        <select name="listType" id="listTypeSelect" class="form-select mb-3 custom-select">
                                            <option value="" disabled th:selected="${!isInReadingList && !isInWantToReadList && !isInRecitedList && !isInReadStoppedList}">Виберіть список</option>
                                            <option value="reading" th:selected="${isInReadingList}">Читаю</option>
                                            <option value="want-read" th:selected="${isInWantToReadList}">Буду читати</option>
                                            <option value="recited" th:selected="${isInRecitedList}">Прочитано</option>
                                            <option value="read-stopped" th:selected="${isInReadStoppedList}">Привинив</option>
                                        </select>
                                        <input type="hidden" name="mangaId" th:value="${manga.id}" />
                                    </form>
                                    <form th:action="@{/manga/page/{id}(id=${id})}" method="post" class="mb-3">
                                        <input type="hidden" name="id" th:value="${manga.id}">
                                        <button class="btn btn-primary w-100" type="submit">Почати читати</button>
                                    </form>
                                    <div class="admin-actions mt-4" th:if="${#authorization.expression('isAuthenticated()')} and (${#authentication.authorities[0].authority == 'ADMIN'})">
                                        <hr>
                                        <a th:href="@{/manga/edit/{id}(id=${id})}" class="btn w-100 mt-1 mb-3 btn-warning me-2">Редагувати</a>
                                        <form th:action="@{/manga/delete/{id}(id=${id})}" method="post" class="d-inline" onsubmit="return confirmDelete()">
                                            <button class="btn btn-danger w-100" type="submit">Видалити</button>
                                        </form>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <h2 class="manga-title mb-3" th:text="${manga.mangaName}"></h2>
                                <div class="manga-info">
                                    <p class="manga-description" th:text="${manga.mangaDescription}"></p>
                                    <hr>
                                    <div class="manga-genres mb-3">
                                        <h5>Жанри:</h5>
                                        <div class="genre-list">
                                    <span th:each="genre : ${manga.genres}" class="genre-item">
                                        <a th:href="@{'/search?q=' + ${genre.genreName} + '&type=genre'}" class="link">
                                            <span th:text="${genre.genreName}"></span>
                                        </a>
                                    </span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="manga-author mb-3">
                                        <h5>Автор манги:</h5>
                                        <span th:if="${manga.author != null}">
                                    <a th:href="@{'/author/' + ${manga.author.id}}" class="link" th:text="${manga.author.name}"></a>
                                </span>
                                        <span th:unless="${manga.author != null}">undefined</span>
                                    </div>
                                    <hr>
                                    <div class="manga-year mb-3">
                                        <h5>Рік виходу:</h5>
                                        <a th:href="@{'/search?q=' + ${manga.releaseYear} + '&type=releaseYear'}" class="link" th:text="${manga.releaseYear}"></a>
                                    </div>
                                    <hr>
                                    <div class="manga-status mb-3">
                                        <h5>Статус манги:</h5>
                                        <a th:href="@{'/search?q=' + ${manga.mangaStatus} + '&type=mangaStatus'}" class="link" th:text="${translatedMangaStatus}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="chapters" role="tabpanel" aria-labelledby="chapters-tab">
                        <h5>Список глав</h5>
                        <ul>
                            <li><a href="#">Глава 1</a></li>
                            <li><a href="#">Глава 2</a></li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="similar" role="tabpanel" aria-labelledby="similar-tab">
                        <h5>Схожі манги</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div th:if="${notificationMessage}" class="alert alert-success alert-dismissible fade show hide-delay fixed-right" role="alert">
    <span th:text="${notificationMessage}"></span>
</div>

<footer th:insert="~{/blocks/footer :: footer}"></footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/loader-spinner.js"></script>
<script src="/js/listTypeSelect.js"></script>
<script src="/js/burger-menu.js"></script>
<script src="/js/confirmDelete.js"></script>
<script src="/js/manga-details.js"></script>
<script th:if="${manga.adultContent and not userSettings.adultContentAgreement}" src="/js/adultContentAlert.js"></script>
</body>
</html>
