<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manga Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="/images/icons/MangaLibraryLogo.png">
    <link rel="stylesheet" href="/css/manga-details.css">
    <link rel="stylesheet" href="/css/manga-details-animation.css">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/transparent-container.css">
</head>
<body class="loading">
<div th:insert="~{blocks/loader :: loader}"></div>
<header th:insert="~{blocks/header :: header}"></header>
<input type="hidden" id="backGroundImg" th:value="${manga.mangaBackGround}" />
    <div class="row mt-5 mb-5">
        <div class="col-lg-8 mx-auto">
            <div class="card mt-4 ">
                <div class="row g-0">
                    <div class="col-md-4 bg-dark">
                        <div class="mangaPoster mx-3 mt-2 d-flex justify-content-center align-items-center">
                            <img th:src="${manga.mangaPosterImg}" class="img-fluid rounded-start" alt="mangaPosterImg Image">
                        </div>
                        <div class="card-body bg-dark">
                            <div class="d-flex flex-column">
                                <form id="addMangaForm" action="#" th:action="@{/manga/add-to-list}" th:object="${manga}" method="post" onsubmit="return false;">
                                    <select name="listType" id="listTypeSelect" class="form-select mb-2 custom-select">
                                        <option value="" disabled th:selected="${!isInReadingList && !isInWantToReadList && !isInRecitedList && !isInReadStoppedList}" >Виберіть список</option>
                                        <option value="reading" th:selected="${isInReadingList}">Читаю</option>
                                        <option value="want-read" th:selected="${isInWantToReadList}">Буду читати</option>
                                        <option value="recited" th:selected="${isInRecitedList}">Прочитано</option>
                                        <option value="read-stopped" th:selected="${isInReadStoppedList}">Привинив</option>
                                    </select>
                                    <input type="hidden" name="mangaId" th:value="${manga.id}" />
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 bg-dark">
                        <div class="card-body text-white bg-dark">
                            <h5 class="card-title">Назва: <span th:text="${manga.mangaName}"></span></h5>
                            <hr>
                            <h6 class="card-subtitle mb-2 ">Опис: <span th:text="${manga.mangaDescription}"></span></h6>
                            <hr>
                            <p class="card-text">
                                <span>Жанри: </span>
                                <span th:each="genre, iterStat : ${manga.genres}">
                                <a th:href="@{'/genre/' + ${genre.genreName}}"><span th:text="${genre.genreName}"></span></a></span>
                            </p>
                            <hr>
                            <h6 class="card-subtitle mb-2">Автор манги:</h6>
                            <p class="card-text"><span th:text="${manga.mangaAuthor}"></span></p>
                            <hr>
                            <h6 class="card-subtitle mb-2">Рік виходу:</h6>
                            <p class="card-text"><span th:text="${manga.releaseYear}"></span></p>
                            <hr>
                            <form th:action="@{/manga/page/{id}(id=${id})}" method="post" style="margin-right: 10px;">
                                <input type="hidden" name="id" th:value="${manga.id}">
                                <button class="btn btn-primary" type="submit">Почати читати</button>
                            </form>
                            <hr th:if="${#authorization.expression('isAuthenticated()')} and (${#authentication.authorities[0].authority == 'ADMIN'})">
                            <div class="btn-group" th:if="${#authorization.expression('isAuthenticated()')} and (${#authentication.authorities[0].authority == 'ADMIN'})">
                                <a th:href="@{/manga/edit/{id}(id=${id})}" class="btn btn-warning">Редагувати</a>
                                <form th:action="@{/manga/delete/{id}(id=${id})}" method="post" style="margin-left: 10px;">
                                    <button class="btn btn-danger" type="submit">Видалити</button>
                                </form>
                            </div>
                            <hr>
                            <a th:href="@{/manga}" class="btn btn-primary">Повернутись</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${notificationMessage}" class="alert alert-success alert-dismissible fade show hide-delay fixed-right" role="alert">
        <span th:text="${notificationMessage}"></span>
    </div>
<footer th:insert="~{/blocks/footer :: footer}"></footer>
<script src="/js/loader-spinner.js"></script>
<script src="/js/listTypeSelect.js"></script>
</body>
</html>