<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог манги</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/png" href="/images/icons/MangaLibraryLogo.png">
    <link rel="stylesheet" href="/css/manga-main.css">
    <link rel="stylesheet" href="/css/loader.css">
</head>
<body >
<div th:insert="~{blocks/loader :: loader}"></div>
<header th:insert="~{blocks/header :: header}"></header>
<input type="hidden" id="backGroundImg" th:value="${backGroundImgUser}" />
<div class="content mb-5">
<div class="container-fluid">
    <div class="row">
        <template id="filter-template">
            <h3 class="text-center mb-4">Фільтр <i class="fas fa-bars ml-3 fs-5" aria-hidden="true"></i></h3>
            <form id="filter-form">
                <div class="filter-container">
                    <fieldset class="filter-group">
                        <label class="filter-label">Жанри & Категорії</label>
                        <select id="genre-select" class="filter-select" aria-label="Жанри і Категорії">
                        </select>
                        <div id="selected-genres" class="selected-genres-container"></div>
                    </fieldset>

                    <fieldset class="filter-group">
                        <label class="filter-label">За автором</label>
                        <select id="author-select" class="filter-select" aria-label="Автори"></select>
                        <div id="selected-authors" class="selected-authors-container"></div>
                    </fieldset>

                    <fieldset class="filter-group">
                        <label class="filter-label">Роки виходу</label>
                        <div class="range-input-group">
                            <input type="number" id="releaseYearFrom" class="filter-input" placeholder="Від" aria-label="Рік випуску від">
                            <span class="dash mb-3" aria-hidden="true">—</span>
                            <input type="number" id="releaseYearTo" class="filter-input" placeholder="До" aria-label="Рік випуску до">
                        </div>
                    </fieldset>

                <fieldset class="filter-group">
                    <label class="filter-label">Статус манги</label>
                    <select id="mangaStatus" class="filter-select" aria-label="Статус манги">
                        <option value="release">Реліз</option>
                        <option value="ongoing">Онгоїнг</option>
                        <option value="completed">Завершено</option>
                    </select>
                </fieldset>

                <fieldset class="filter-group">
                    <label class="filter-label">Віковий рейтинг</label>
                    <select id="ageRating" class="filter-select" aria-label="Віковий рейтинг">
                        <option value="0">Ні</option>
                        <option value="1">18+</option>
                    </select>
                </fieldset>
                <button type="submit" class="filter-button mt-2">Застосувати</button>
                </div>
            </form>
        </template>

        <aside class="sidebar col-md-3 col-lg-2 ml-5">
            <div id="sidebar-content"></div>
        </aside>

        <div id="filter-modal" class="filter-modal mb-5" aria-hidden="true">
            <div class="filter-modal-content" role="dialog" aria-labelledby="filter-modal-title">
                <button class="close-btn" id="close-btn" aria-label="Закрити">&times;</button>
                <h3 id="filter-modal-title"></h3>
                <div id="modal-content"></div>
            </div>
        </div>

        <div class="container mt-5 mb-3">
            <div class="main-content col-md-9 col-lg-10">
                <div class="header-container">
                    <h2 class="catalog-title">
                        Каталог манги
                        <span class="catalog-count" th:text="${page.totalElements}">1000</span>
                    </h2>
                    <div class="view-switcher">
                        <button class="view-btn filter-btn" id="filter-btn" title="Фільтр">
                            <i class="fas fa-filter"></i>
                        </button>
                        <button class="view-btn grid-view" id="grid-view" title="Сітка">
                            <i class="fa fa-th"></i>
                        </button>
                        <button class="view-btn list-view" id="list-view" title="Список">
                            <i class="fa fa-th-list"></i>
                        </button>
                        <button class="view-btn" id="sort-up" title="Сортувати за">
                            <i class="fa-solid fa-arrow-up-wide-short"></i>
                        </button>
                        <div class="dropdown dropdown-sort">
                            <button class="btn btn-dark dropdown-toggle view-btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Сортувати: <span id="dropdownMenuText">За оновленням</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-sortBy custom-mt" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item active" href="#" data-sort="byNew">За оновленням</a></li>
                                <li><a class="dropdown-item" href="#" data-sort="byRating">За рейтингом</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="manga-content">
                    <div th:replace="~{manga/manga-partial :: manga-content}">
                    </div>
                    </div>
                    <div id="no-manga-message"  class="no-manga-message" style="display: none;">
                        <h2>За даними фільтрами не знайдено результатів</h2>
                        <p>Спробуйте змінити фільтри.</p>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>
<footer th:insert="~{blocks/footer :: footer}"></footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script th:if="${#authorization.expression('isAuthenticated()')}" src="/js/burger-menu.js"></script>
<script src="/js/loader-spinner.js"></script>
<script src="/js/manga-main.js"></script>
<script src="/js/manga-main-filter.js"></script>
</body>
</html>
