<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редагування манги</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/images/icons/MangaLibraryLogo.png">
    <link rel="stylesheet" href="/css/loader.css">
    <link rel="stylesheet" href="/css/form-styles.css">
    <link rel="stylesheet" href="/css/manga/manga-forms.css">
    <link rel="stylesheet" href="/css/main/custom-select.css">
</head>
<body class="loading">
<div class="content">
<div th:insert="~{blocks/loader :: loader}"></div>
<header th:insert="~{blocks/header :: header}"></header>
<input type="hidden" id="backGroundImg" th:value="${backGroundImgUser}" />
    <div class="container mt-5 mb-5">
        <div class="container-form" style="display: flex; flex-direction: column; align-items: center;">
            <h2 class="mb-5" style="text-align: center; color: #ff0080;">Завантажуй мангу разом з нами</h2>
            <form class="form-design" method="POST" th:action="@{/manga/edit/{id}(id=${manga.id})}" th:object="${mangaForm}" enctype="multipart/form-data">
                <div class="container-upload">
                    <div class="custom-file-upload-wrapper">
                        <div class="custom-file-upload-container" onclick="document.getElementById('posterImage').click();">
                            <input type="file" th:field="*{mangaImage.posterImage}" id="posterImage" accept="image/jpeg, image/png" style="display: none;" onchange="previewImage(event, 'posterImagePreview', 'posterUploadIcon');">
                            <img id="posterImagePreview" class="preview-image" alt="Обложка манги" th:src="@{${posterImageUrl}}" style="display:block;">
                        </div>
                        <p>Обкладинка манги</p>
                        <div style="color:red" th:if="${#fields.hasErrors('mangaImage.posterImage')}" th:errors="*{mangaImage.posterImage}">posterImage error</div>
                    </div>
                    <div class="custom-file-upload-wrapper">
                        <div class="custom-file-upload-container custom-file-upload-container-background" onclick="document.getElementById('backGroundImage').click();">
                            <input type="file" th:field="*{mangaImage.backGroundMangaImg}" id="backGroundImage" accept="image/jpeg, image/png" style="display: none;" onchange="previewImage(event, 'backGroundImagePreview', 'backGroundUploadIcon');">
                            <img id="backGroundImagePreview" class="preview-image" alt="Фон манги" th:src="@{${backGroundImageUrl}}" style="display:block;">
                        </div>
                        <p>Фон манги</p>
                        <div style="color:red" th:if="${#fields.hasErrors('mangaImage.backGroundMangaImg')}" th:errors="*{mangaImage.backGroundMangaImg}">backGroundImage error</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mangaName">Назва манги</label>
                    <input type="text" id="mangaName" th:field="*{manga.mangaName}" placeholder="Введіть назву манги" class="form-control" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="releaseYear">Рік релізу</label>
                    <input type="number" id="releaseYear" th:field="*{manga.releaseYear}" placeholder="Введіть рік релізу манги(YYYY)" class="form-control" min="1902" th:max="${maxYear}" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="authorSelect">Автор</label>
                    <select id="authorSelect" th:field="*{manga.author.id}" class="form-control">
                        <option value="">Оберіть автора</option>
                        <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="genreSelect">Жанри</label>
                    <select id="genreSelect" th:field="*{manga.genres}" class="form-control" multiple="multiple">
                        <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.genreName}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="mangaStatus">Статус манги:</label>
                    <select class="custom-select" id="mangaStatus" th:field="*{manga.mangaStatus}">
                        <option value="release" th:selected="${manga.mangaStatus == 'release'}">Реліз</option>
                        <option value="ongoing" th:selected="${manga.mangaStatus == 'ongoing'}">Онгоїнг</option>
                        <option value="completed" th:selected="${manga.mangaStatus == 'completed'}">Завершено</option>
                    </select>
                </div>

                <div class="form-group" style="position: relative;">
                    <label for="relatedMangaSelect"><i class="fas fa-circle pink-dot"></i> Связанная манга</label>
                    <select id="relatedMangaSelect" name="relatedMangaIds" class="form-control" multiple>
                        <option value="" disabled>Выберите связанные манги</option>
                        <option th:each="relatedManga : ${mangas}"
                                th:if="${relatedManga.id != manga.id}"
                                th:value="${relatedManga.id}"
                                th:text="${relatedManga.mangaName}"
                                th:selected="${relatedMangaIds != null and relatedMangaIds.contains(relatedManga.id)}">
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="adultContentSelect">Вміст для дорослих:</label>
                    <select class="custom-select" id="adultContentSelect" th:field="*{manga.adultContent}">
                        <option value="no" th:selected="${manga.adultContent == 'no'}">Ні</option>
                        <option value="yes" th:selected="${manga.adultContent == 'yes'}">18+</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="mangaDescription">Опис манги</label>
                    <textarea id="mangaDescription" th:field="*{manga.mangaDescription}" placeholder="Введіть опис манги" class="form-control" autocomplete="off"></textarea>
                </div>
                <button type="submit" class="btn btn-custom-subscribe" style="padding:6px 12px;">Редагувати мангу</button>
                <a href="/manga" class="btn btn-custom-back">Повернутись</a>
            </form>
        </div>
    </div>
</div>
<footer th:insert="~{/blocks/footer :: footer}"></footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="/js/burger-menu.js"></script>
<script src="/js/loader-spinner.js"></script>
<script src="/js/manga/manga-form.js"></script>
</body>
</html>
