<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/user-profile.css">
    <link rel="stylesheet" href="/css/form-styles.css">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card border-primary">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title">User Profile</h5>
                </div>
                <div class="card-body bg-dark text-white d-flex justify-content-between">
                    <div>
                        <p class="card-text"><strong>Username:</strong> <span th:text="${user.userName}"></span></p>
                        <p class="card-text "><strong>UserRole:</strong> <span th:text="${user.userRole}"></span></p>
                    </div>
                </div><div class="card-footer bg-dark">
                <details class="card card-body border-primary-subtle bg-dark mb-3">
                    <summary class="card-title text-primary">
                        <h6>Читаю:</h6>
                    </summary>
                    <ul class="list-unstyled">
                        <li th:each="manga : ${readingManga}">
                            <a th:href="@{/manga/{id}(id=${manga.id})}" th:text="${manga.mangaName}" class="text-primary"></a>
                        </li>
                    </ul>
                </details>

                <details class="card card-body border-warning bg-dark mb-3">
                    <summary class="card-title text-warning">
                        <h6>Буду читать:</h6>
                    </summary>
                    <ul class="list-unstyled">
                        <li th:each="manga : ${wantToReadManga}">
                            <a th:href="@{/manga/{id}(id=${manga.id})}" th:text="${manga.mangaName}" class="text-warning"></a>
                        </li>
                    </ul>
                </details>

                <details class="card card-body border-success bg-dark mb-3">
                    <summary class="card-title text-success">
                        <h6>Прочитано:</h6>
                    </summary>
                    <ul class="list-unstyled">
                        <li th:each="manga : ${recitedManga}">
                            <a th:href="@{/manga/{id}(id=${manga.id})}" th:text="${manga.mangaName}" class="text-success"></a>
                        </li>
                    </ul>
                </details>

                <details class="card card-body border-danger bg-dark">
                    <summary class="card-title text-danger">
                        <h6>Бросил:</h6>
                    </summary>
                    <ul class="list-unstyled">
                        <li th:each="manga : ${stoppedReadingManga}">
                            <a th:href="@{/manga/{id}(id=${manga.id})}" th:text="${manga.mangaName}" class="text-danger"></a>
                        </li>
                    </ul>
                </details>
            </div>
            </div>
            </div>
        </div>
    </div>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 mx-5 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-white rounded">© 2024 Company, Inc</span>
    </div>
</footer>
</body>
</html>