<div th:fragment="footer">
    <link rel="stylesheet" href="/css/footer.css">
    <footer class="footer">
        <div class="container">
            <ul class="nav justify-content-center pb-3">
                <li class="nav-item"><a href="/faq" class="nav-link px-2">FAQ</a></li>
                <li class="nav-item"><a href="/about" class="nav-link px-2">About</a></li>
                <li class="nav-item"><a href="/contact-us" class="nav-link px-2">Contact</a></li>
            </ul>
            <div class="text-center">
                <p>© 2024 MangaLibrary</p>
            </div>
        </div>
    </footer>

</div>