<div th:fragment="footer">
    <link rel="stylesheet" href="/css/footer.css">
    <div>
        <div class="footer-content">
            <div class="logo-section">
                <div class="logo">
                    <img src="/images/icons/MangaLibraryIcon.png" alt="MangaLibrary Logo">
                    <span class="brand-text" style="margin-right:15px;"><span style="color:white;">Manga</span><span style="color:#a9a9a9;">Library</span></span>
                </div>
                <div class="social-icons">
                    <a href="#" class="icon-instagram"><img src="/images/icons/instagram_logo.png" alt="Instagram"></a>
                    <a href="#" class="icon-discord"><img src="/images/icons/discord_logo.png" alt="Discord"></a>
                    <a href="#" class="icon-github"><img src="/images/icons/github_logo.png" alt="GitHub"></a>
                </div>
                <div class="copyright">©2024 MangaLibrary</div>
            </div>
            <div class="navigation">
                <div class="nav-column">
                    <h4>Навігація</h4>
                    <ul>
                        <li><a href="/">Головна</a></li>
                        <li><a href="/manga">Манга</a></li>
                        <li><a href="/random">Випадкова манга</a></li>
                    </ul>
                </div>
                <div class="nav-column">
                    <h4>Для користувача</h4>
                    <ul>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/contact-us">Зв'язок з нами</a></li>
                        <li><a href="/about">Про нас</a></li>
                    </ul>
                </div>
                <div class="nav-column">
                    <h4>Наш сайт</h4>
                    <ul>
                        <li><a href="/forum">Форум</a></li>
                        <li><a href="/news">Новини</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
