<div th:fragment="header" class="fixed-header">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <link th:if="${#authorization.expression('isAuthenticated()')}" rel="stylesheet" href="/css/transparent-container.css">
  <link th:if="${#authorization.expression('isAuthenticated()')}" rel="stylesheet" href="/css/form-styles.css">
  <script th:if="${#authorization.expression('isAuthenticated()')}" src="/js/burger-menu.js"></script>
  <script th:if="${#authorization.expression('isAuthenticated()')}" src="/js/search-form.js"></script>
  <script th:if="${#authorization.expression('isAuthenticated()')}" src="/js/dropdown-animation.js"></script>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/images/icons/MangaLibraryIcon.png" alt="MangaLibrary Logo" style="height: 40px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="/" class="nav-link" style="color:white;">Головна</a>
          </li>
          <li class="nav-item">
            <a href="/manga" class="nav-link" style="color:white;">Манга</a>
          </li>
          <li class="nav-item dropdown" th:if="${#authorization.expression('isAuthenticated()')} and (${#authentication.authorities[0].authority == 'ADMIN'} or ${#authentication.authorities[0].authority == 'MangaModerator'})">
            <a class="nav-link" href="#" style="color:white;" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Адмін меню <i class="fas fa-chevron-right dropdown-arrow"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-admin dropdown-menu-start">
              <li class="nav-item">
                <a class="dropdown-item" href="/manga/add">Добавити мангу</a>
              </li>
              <li class="nav-item">
                <a class="dropdown-item" href="/author/add">Добавити автора</a>
              </li>
              <li class="nav-item">
                <a class="dropdown-item" href="/genre/add">Добавити жанр</a>
              </li>
              <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')} and (${#authentication.authorities[0].authority == 'ADMIN'})">
                <a class="dropdown-item" href="/admin-panel">Адмін-Панель</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown" th:if="${#authorization.expression('isAuthenticated()')}">
            <a class="nav-link" href="#" style="color:white;" id="siteDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Наш сайт <i class="fas fa-chevron-right dropdown-arrow"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-site dropdown-menu-start">
              <li class="nav-item">
                <a class="dropdown-item" href="/forum">Форум</a>
              </li>
              <li class="nav-item">
                <a class="dropdown-item" href="/news">Новини</a>
              </li>
              <!--<li class="nav-item">
                <a class="dropdown-item" href="/shop">Магазин</a>
              </li>!-->
            </ul>
          </li>
          <li class="nav-item">
            <a href="/random" class="nav-link" style="color:white;" th:if="${#authorization.expression('isAuthenticated()')}">Випадкова манга</a>
          </li>
        </ul>
        <div class="search-container">
          <button class="search-toggle btn btn-outline-light" aria-label="Пошук">
            <i class="fas fa-search"></i> Пошук
          </button>
          <div class="search-overlay"></div>
          <div class="search-form-container transparent-container" style="background: rgba(24, 24, 24, 0.9);">
            <div class="search-header">
              <h2>Пошук</h2>
              <button class="close-btn" aria-label="Закрити">&times;</button>
            </div>
            <form action="/search" method="get">
              <input class="form-control " type="search" placeholder="Введіть пошуковий запит..." aria-label="Search" name="q" autocomplete="off">
              <input type="hidden" name="type" value="title">
            </form>
          </div>
        </div>
        <ul class="navbar-nav ms-auto burger-menu">
          <li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img th:src="@{${userImageUrl}}" alt="User Image" class="user-image">
            </a>
            <ul class="dropdown-menu dropdown-menu-start">
              <li class="nav-item">
                <a th:href="@{/profile/{username}(username=${#authentication.principal.username})}" class="dropdown-item">Профіль</a>
              </li>
              <li class="nav-item">
                <a th:href="@{/profile/settings/{username}(username=${#authentication.principal.username})}" class="dropdown-item">Налаштування</a>
              </li>
              <li class="nav-item">
                <form th:action="@{/logout}" method="post" class="d-inline">
                  <button type="submit" class="dropdown-item btn btn-danger">Вийти</button>
                </form>
              </li>
            </ul>
          </li>
          <li class="nav-item" th:unless="${#authorization.expression('isAuthenticated()')}">
            <a th:href="@{/login}" class="nav-link mr-5">
              <i class="fas fa-user mr-5"></i> Увійти
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
