<div th:fragment="header">
  <link rel="stylesheet" href="/css/header.css">
  <nav class="py-2 bg-dark">
    <div class="container d-flex flex-wrap bg-dark">
      <ul class="nav me-auto">
        <li class="nav-item">
          <a href="/" class="nav-link link-body-emphasis px-2 text-white active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a href="/manga" class="nav-link link-body-emphasis text-white px-2">Mangas</a>
        </li>
        <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')} and (${#authentication.authorities[0].authority == 'ADMIN'})">
          <a href="/manga/add" class="nav-link link-body-emphasis text-white px-2">Add Manga</a>
        </li>
        <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')} and (${#authentication.authorities[0].authority == 'ADMIN'})">
          <a href="/genre/add" class="nav-link link-body-emphasis text-white px-2">Add Genre</a>
        </li><li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')} and (${#authentication.authorities[0].authority == 'ADMIN'})">
          <a href="/admin-panel" class="nav-link link-body-emphasis text-white px-2">Admin Panel</a>
        </li>
        <li class="nav-item">
          <a href="/genre-list" class="nav-link link-body-emphasis text-white px-2">Genre List</a>
        </li>
        <li class="nav-item">
          <a href="/random" class="nav-link link-body-emphasis text-white px-2">Random Manga</a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link link-body-emphasis text-white px-2">About</a>
        </li>
      </ul>
      <form th:if="${#authorization.expression('isAuthenticated()')}" class="d-flex" style="margin-top: 5px; margin-right: 20px;" action="/search" method="get">
        <input class="form-control-search" type="search" placeholder="Пошук манги" aria-label="Search" name="q" autocomplete="off">
        <button class="btn custom-btn" style="margin-left:10px" type="submit">Пошук</button>
      </form>
      <ul class="nav bg-dark mt-1">
        <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
          <a th:href="@{/profile/{username}(username=${#authentication.principal.username})}" class="btn btn-primary text-white me-2">Профіль</a>
        </li>
        <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
          <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-danger">Вийти</button>
          </form>
        </li>
        <li class="nav-item" th:unless="${#authorization.expression('isAuthenticated()')}">
          <a th:href="@{/login}" class="nav-link link-body-emphasis text-white px-2">Логін</a>
        </li>
        <li class="nav-item" th:unless="${#authorization.expression('isAuthenticated()')}">
          <a th:href="@{/registration}" class="nav-link link-body-emphasis text-white px-2">Зареєструватись</a>
        </li>
      </ul>
    </div>
  </nav>
</div>