<div th:fragment="header">
  <link rel="stylesheet" href="/css/header.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="/js/burger-menu.js"></script>
  <style>

  </style>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">MangaLibrary</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="/" class="nav-link active" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a href="/manga" class="nav-link">Manga</a>
          </li>
          <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')} and (${#authentication.authorities[0].authority == 'ADMIN'})">
            <a href="/manga/add" class="nav-link">Add Manga</a>
          </li>
          <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')} and (${#authentication.authorities[0].authority == 'ADMIN'})">
            <a href="/genre/add" class="nav-link">Add Genre</a>
          </li>
          <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')} and (${#authentication.authorities[0].authority == 'ADMIN'})">
            <a href="/admin-panel" class="nav-link">Admin Panel</a>
          </li>
          <li class="nav-item">
            <a href="/genre-list" class="nav-link">Genre List</a>
          </li>
          <li class="nav-item">
            <a href="/random" class="nav-link">Random Manga</a>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link">About</a>
          </li>
        </ul>
        <form th:if="${#authorization.expression('isAuthenticated()')}" class="d-flex" action="/search" method="get">
          <input class="form-control form-control-search me-2" type="search" placeholder="Пошук манги" aria-label="Search" name="q" autocomplete="off">
          <button class="btn custom-btn" type="submit">Пошук</button>
        </form>
        <ul class="navbar-nav ms-auto burger-menu">
          <li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img th:src="@{${userImageUrl}}" alt="User Image" class="user-image">
            </a>
            <ul class="dropdown-menu dropdown-menu-start">
              <li class="nav-item">
                <a th:href="@{/profile/{username}(username=${#authentication.principal.username})}" class="dropdown-item">Профіль</a>
              </li>
              <li class="nav-item">
                <a th:href="@{/profile/settings/{username}(username=${#authentication.principal.username})}" class="dropdown-item">Налаштування</a>
              </li>
              <li class="nav-item">
                <form th:action="@{/logout}" method="post" class="d-inline">
                  <button type="submit" class="dropdown-item btn btn-danger">Вийти</button>
                </form>
              </li>
            </ul>
          </li>
          <li class="nav-item" th:unless="${#authorization.expression('isAuthenticated()')}">
            <a th:href="@{/login}" class="nav-link">Логін</a>
          </li>
          <li class="nav-item" th:unless="${#authorization.expression('isAuthenticated()')}">
            <a th:href="@{/registration}" class="nav-link">Зареєструватись</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
